<div class="container rounded p-2 text-gray-dark text-uppercase text-teal ">
  <h3>ADD OFFER</h3>
<form class="m-3"#unitForm="ngForm">
    <div class="form-group ">
      <label >Name</label>
      <input name="name" [(ngModel)]="offre.nameBankoffer" class="form-control" required #name="ngModel" placeholder="name *">
<span class="text-danger" *ngIf="name.touched&&name.invalid"> the name is required </span>

    </div>

    <div class="form-group">
      <label >Description </label>
      <input type="text" class="form-control" [(ngModel)]="offre.descriptionBankOffer" name="Description" placeholder="2">
    </div>
    <div class="form-group">
      <label >Max Credit  </label>
      <input type="number" class="form-control" [(ngModel)]="offre.maxCredit" name="maxCredit" placeholder="2">
    </div>
    <div class="form-group">
      <label >grace Period </label>
      <input type="text" class="form-control" [(ngModel)]="offre.gracePeriod" name="gracePeriod" placeholder="2">
    </div>
    <div class="form-group">
      <label > period  </label>
      <input type="number" class="form-control" [(ngModel)]="offre.period" name="selfFinancing" placeholder="2">
    </div>
    <div class="form-group">
      <label >self Financing  </label>
      <input type="number" class="form-control" [(ngModel)]="offre.selfFinancing" name="selfFinancing" placeholder="2">
    </div>



  <hr>
  <mat-dialog-actions align="end">
    <button mat-button mat-dialog-close class="btn btn-secondary">Cancel</button>
    <button type="submit" class="btn ml-1 text-white" style="background-color:#0B5BE3 " [mat-dialog-close]="true" [disabled]="unitForm.invalid"(click)=" add()">Confirm</button>
  </mat-dialog-actions>  </form>
</div>

