
  <!-- Content Header (Page header) -->
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">{{name}} Offres </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard/home"><i class="fa fa-home fa-x mt-1"></i> Dashboard</a></li>
            <li class="breadcrumb-item " routerLink="/dashboard/bankDash">Banks</li>
            <li class="breadcrumb-item active">{{name}} Offres</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>
  <table class="table text-dark border border rounded ">
    <thead>
    <tr>

      <th scope="col">Name </th>
      <th scope="col">Description</th>
      <th scope="col">Grace Period </th>
      <th scope="col">Self Financing</th>
      <th scope="col"> Max Credit </th>
      <th scope="col"> Periode</th>
      <th scope="col"> Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let offre of offres">
   <td>{{offre.nameBankoffer}}</td>
      <td>{{offre.descriptionBankOffer}}</td>
      <td>{{offre.gracePeriod}}</td>
      <td>{{offre.selfFinancing}}</td>
      <td>{{offre.maxCredit}}</td>
      <td>{{offre.period}}</td>
<td class="w-25" >
  <ng-template #tipContent class="tooltip-inner">Edit Bank </ng-template>

  <ng-template #tipdelete class="tooltip-inner">delete  Bank </ng-template>
  <span [ngbTooltip]="tipContent"> <span class="   text-primary   ml-2"   (click)="openDialogUpdate(offre)"><i class="fas fa-edit fa-2x "></i></span></span>
  <span [ngbTooltip]="tipdelete" class=" text-danger  ml-2" (click)="delete(offre)"><i class="fas fa-trash-alt fa-2x"></i></span></td>
    </tr>


  </table>

<div class="row">
  <button  class=" btn btn-outline-success col-2 offset-9 "  (click)="openDialog()"><i class="fa fa-plus fa-x mb-0"></i> Add Offer  </button>
</div>
