<!-- Content Header (Page header) -->
<div class="content-header">
  <div class="container-fluid">
    <div class="row ">
      <ol class="breadcrumb  float-sm-right offset-9">
        <li class="breadcrumb-item"><a routerLink="/dashboard/home"><i class="fa fa-home fa-x mt-1"></i> Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Banks Table</li>
      </ol>
    </div>
    <div class="row mb-2">

      <ng-template #tipadd class="tooltip-inner">Add Bank</ng-template>

      <h4 class="m-0 col-6  text-dark"><i class="fa fa-bank fa-x ">

      </i> Banks Table
      </h4>

      <i class="mat-tooltip"></i>

    </div>
  </div>
</div>
<table class="table text-dark border border rounded ">
  <thead>
  <tr>
    <th scope="col">logo</th>
    <th scope="col">Name</th>
    <th scope="col">Description</th>
    <th scope="col">Intrest Rate</th>
    <th scope="col">Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let bank of banks">
    <td><img class="card-img-top img-responsive"
                         src = 'http://localhost:8081/web/img/capture.png'
                         style = "height :100px;width:100px"
                         alt=""></td>
    <td>{{bank.name}}</td>
    <td>{{bank.description}}</td>
    <td>{{bank.interestRate}}</td>
    <td><span [ngbTooltip]="tipshow" class=" text-success mr-2" id="getOffre" (click)="getOffres(bank)"><i
      class="fas fa-eye fa-2x"></i></span>
      <ng-template #tipContent class="tooltip-inner">Edit Bank</ng-template>
      <ng-template #tipshow class="tooltip-inner">show offer Bank</ng-template>
      <ng-template #tipdelete class="tooltip-inner">delete Bank</ng-template>
      <span [ngbTooltip]="tipContent"> <span class="   text-primary   ml-2" (click)="openDialogUpdate(bank)"><i
        class="fas fa-edit fa-2x "></i></span></span>
      <span [ngbTooltip]="tipdelete" class=" text-danger  ml-2" (click)="delete(bank)"><i
        class="fas fa-trash-alt fa-2x"></i></span>

    </td>
  </tr>
  <tr>

</table>


<div class="row">
  <button class=" btn btn-outline-success col-2 offset-9 " (click)="openDialog()"><i class="fa fa-plus fa-x mb-0"></i>
    Add Bank
  </button>
</div>



