<div class="container">
  <div class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1 class="m-0 text-dark">Unit price Tables </h1>
        </div><!-- /.col -->
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li class="breadcrumb-item"><a routerLink="/dashboard/home"><i class="fa fa-home fa-x mt-1"></i> Dashboard</a></li>
            <li class="breadcrumb-item active">Unit Price</li>
          </ol>
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container-fluid -->
  </div>

  <table class="table text-white rounded"style="background-color: #4D774E ;">
    <thead>
    <tr>

      <th scope="col">Municipal</th>
      <th scope="col">Min Price</th>
      <th scope="col"> Max Price </th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let unitprice  of unitPrices ">
      <td>{{unitprice.municipal }}</td>
      <td>{{unitprice.minunitprice}}</td>
      <td>{{unitprice.maxunitprice}}</td>
      <td>
        <button class="btn  ml-2" style="background-color: #F1B24A; color: white "  (click)="openDialogUpdate(unitprice)">Update</button>
        <button class="btn btn-danger ml-2" (click)="delete(unitprice)">Delete</button></td>

    </tr>
    <tr>

  </table>

  <div class="row">
    <button  class=" btn col-3 offset-9" style="background-color: #F1B24A; color: white " (click)="openDialog()"><i class="fa fa-plus fa-x mb-0"></i> Add Unit Price </button>
  </div>


</div>


