.logo{
  height: 40px;
  width: 100px;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(77, 119, 78)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #4D774E;
}
.navbar a,.btn{
  color: white;
}
.navbar a:hover,.btn:hover{
   color: #F1B24A;
 }
.dropdown-menu.show{
  background-color: #9DC88D ;
}

