<nav class="navbar navbar-expand-lg text-white rounded-bottom  navbar-light   " style="background-color: #009EFB">
  <a class="navbar-brand " href="#"><img src="./assets/img/logo.png" class="logo" alt="logo"></a>
  <button class="navbar-toggler " type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon "></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item">
        <a class="nav-link " routerLink="/">Home </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/estimation">About us </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="estimation">Contact </a>
      </li>
      <li class="nav-item">
        <a class="nav-link " routerLink="/home/service"> Our Servise </a>
      </li>


      <li>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2  " type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fa fa-search"></i></button>
        </form>
      </li>
    </ul>


    <a class=" far fa-user-circle fa-2x " mat-button (click)="openDialog()"> </a>


  </div>
</nav>
