<div class="container m-5">
  <div class="row">
  <h1 class="col-10 align-items-start">Banks Table</h1>
  <div class=" col-2 align-items-end">
  <button class="btn btn-light">  <a  class="fa fa-plus fa-x mb-0" (click)="openDialog()">Add Bank </a></button>
  </div>
  </div>
  <table class="table table-light rounded">
    <thead>
    <tr>

      <th scope="col">Name</th>
      <th scope="col">Description</th>
      <th scope="col">Intrest Rate </th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let bank of banks">
      <td>{{bank.name}}</td>
      <td>{{bank.description}}</td>
      <td>{{bank.interestRate}}</td>
      <td><button class="btn btn-light" id="getOffre" (click)="getOffres(bank)">get offres</button>
        <button class="btn btn-primary ml-2" (click)="openDialogUpdate(bank)">Update</button>
        <button class="btn btn-danger ml-2" (click)="delete(bank)">Delete</button></td>
    </tr>
    <tr>

  </table>

  <div >

</div>
</div>


