<div class=" mb-2 h-100 " >
  <mat-card class="bg-white p-3">
  <form class="m-3" >
<div *ngIf="showadresse">
  <div class="progress">
    <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="form-group">
    <label >Governorate</label>
    <input  type="text" name="gouvernorat" [(ngModel)]="house.adress.gouvernorat" class="form-control" >

  </div>
    <div class="form-group">
      <label >City</label>
      <input  type="text" name="city" [(ngModel)]="house.adress.city" class="form-control" >


    </div>

  <div class="form-group">

    <label >municipal</label>
    <input  type="text" name="municipal" [(ngModel)]="house.adress.municipal" class="form-control" >

  </div>
    <div class="form-group">
      <label >Street</label>
      <input  type="text" name="street" [(ngModel)]="house.adress.street" class="form-control" >

    </div>
  <button (click)="next()" class="btn btn-secondary offset-11">  next </button>
</div>
    <div *ngIf="showkind">
      <div class="progress">
        <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
      </div>
    <div class="form-group ">
      <label >KindOfGood</label>
      <select name="kindOfGood" [(ngModel)]="house.kindofgood" #kind="ngModel" class="form-control">
        <option selected>land</option>
        <option>apartment</option>
        <option>villa</option>
        <option>workshop</option>
      </select>



          <div class="form-group">
            <label >Area </label>
            <input type="number" class="form-control" [(ngModel)]="house.area" name="area" placeholder="100">
          </div>
    </div>
    <div *ngIf='kind.value=="villa" ||kind.value=="apartment" '>

           <div class="form-group">
             <label >Rooms </label>
             <input type="number" class="form-control" [(ngModel)]="house.nbRooms" name="nbRooms" placeholder="2">
           </div>

             <div class="form-group">
               <label >Garages </label>
               <input type="number" class="form-control" [(ngModel)]="house.nbGarage" name="nbGarage" placeholder="2">
             </div>


             <div class="form-group">
               <div class="form-check">
                 <input class="form-check-input"  [(ngModel)]="house.terrace" type="checkbox" name="terrace">
                 <label class="form-check-label mr-2" >
                   Terrace
                 </label>
               </div>
             </div>

             <div class="form-group">
               <div class="form-check">
                 <input class="form-check-input"  [(ngModel)]="house.swimmingPool" type="checkbox" name="swimmingPool">
                 <label class="form-check-label mr-2" >
                   Swimming Pool
                 </label>
               </div>
             </div>

                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input" [(ngModel)]="house.garden" type="checkbox" name="garden">
                    <label class="form-check-label mr-2" >
                      Garden
                    </label>
                  </div>
                </div>
       <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input"  [(ngModel)]="house.sousSol" type="checkbox" name="sousSol">
                    <label class="form-check-label mr-2" >
                      Sous Sol
                    </label>
                  </div>
                </div>

                <div class="form-group">
                  <div class="form-check">
                    <input class="form-check-input"  name="ascensseur" [(ngModel)]="house.ascenseur" type="checkbox" id="ascenseur">
                    <label class="form-check-label mr-2" >
                      Ascenseur
                    </label>
                  </div>
                </div>
    </div>
      <button (click)="next1()" class="btn btn-secondary offset-11">  next </button>

    </div>

    <!-- Button trigger modal -->
<div  *ngIf="showb">
<div class="text-center w-50 row m-5 ">
 <h5 class="text-dark  text-center col offset-4 "> the estate is {{house.kindofgood}} with {{house.area}} m² of area in {{house.adress.street}} {{house.adress.city}} {{house.adress.gouvernorat}}</h5>
</div>
   <div class="row">   <button type="button" class="btn  offset-4 btn-danger "  (click)="estimation()">Estimate
      </button></div>




</div>

  </form>

    <mat-card *ngIf="show">
      <div >
<mat-card-header> <h4 class="text-dark  row  "> The estate is {{house.kindofgood}} with {{house.area}} m² of area in {{house.adress.street}} {{house.adress.city}} {{house.adress.gouvernorat}}</h4>
</mat-card-header>
        <table class="table">
          <tbody>
          <tr *ngFor="let value of resulat.keys()">
            <td class="text-capitalize text-bold"> {{value}}</td>

            <td class="text-primary"> <h4>{{resulat.get(value)}} DTN </h4></td>
          </tr>

          </tbody>
        </table>
      </div>
    </mat-card>
</mat-card>
</div>

