<div class="container rounded p-2 text-dark ">
  <h5>Add Unit Price </h5>
  <hr>
  <form class="m-3" #unitForm="ngForm">
    <div class="form-row">
      <div class="form-group ">
        <label>municipal</label>
        <input type="text" name="municipal" [(ngModel)]="unitprice.municipal" class="form-control"
               placeholder="municipal" required #municipal="ngModel">
        <span class="text-danger" *ngIf="municipal.touched&&municipal.invalid"> <i
          class="fa fa-exclamation-triangle"></i> municipal is required </span>
      </div>

    </div>


    <div class="form-row">
      <div class="form-group">
        <label>max unit price </label>
        <input type="number" class="form-control" [(ngModel)]="unitprice.maxunitprice" name="maxunitprice"
               placeholder="200" required #maxunitprice="ngModel">
        <span class="text-danger" *ngIf="maxunitprice.touched&&maxunitprice.invalid"> <i
          class="fa fa-exclamation-triangle"></i> municipal is required </span>

      </div>
      <div class="form-group">
        <label>min unit price </label>
        <input type="number" class="form-control" [(ngModel)]="unitprice.minunitprice" name="nbRooms" placeholder="100"
               required #minunitprice="ngModel">
        <span class="text-danger" *ngIf="minunitprice.touched&&minunitprice.invalid"> <i
          class="fa fa-exclamation-triangle"></i> municipal is required </span>
        <span class="text-danger" *ngIf="minunitprice.value>maxunitprice.value"> <i
          class="fa fa-exclamation-triangle"></i> min price can't be Greater than max price </span>

      </div>
    </div>
    <hr>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="btn btn-secondary">Cancel</button>
      <button type="submit" class="btn btn-primary ml-1" [mat-dialog-close]="true" (click)="Add()"
              [disabled]="unitForm.invalid">Confirm
      </button>
    </mat-dialog-actions>
  </form>
</div>

