<div class="container rounded p-2 text-white " style="width:500px ;background-color: #4d774e ">
  <h1>Update {{bank.name}} </h1>
  <hr>
  <form class="m-3"#unitForm="ngForm">
    <div class="form-group ">
      <label >Name</label>
      <input name="name" [(ngModel)]="bank.name"  value="{{bank.name}}" class="form-control" >

    </div>

    <div class="form-group">
      <label >Description </label>
      <input type="text" class="form-control" [(ngModel)]="bank.description" value="{{bank.description}}" name="maxunitprice" placeholder="2">
    </div>
    <div class="form-group">
      <label >Interest Rate  </label>
      <input type="number" class="form-control" [(ngModel)]="bank.interestRate" value="{{bank.interestRate}}" name="nbRooms" placeholder="2">
    </div>
    <hr>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close class="btn btn-secondary">Cancel</button>
      <button type="submit" class="btn ml-1" style="background-color:#f1b24a " [mat-dialog-close]="true" (click)="update()">Confirm</button>
    </mat-dialog-actions>

  </form>
</div>
