html, body { height: 50%;
  width: 100%; }
body { margin: 0; font-family: Roboto, "bebas Neue", sans-serif; }
/* CSS to change Default/'Accent' color */

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-thumb {
  background-color: blue; /*replace with your color*/
}

.mat-slide-toggle.mat-checked:not(.mat-disabled) .mat-slide-toggle-bar {
  background-color: skyblue;  /*replace with your color*/
}
$color1 :#009EFB;
.style1{
  background-color:$color1;

}

