<div class="container " style="width:500px">
  <h1>Add Bank </h1>
  <hr>
  <form class="m-3"#unitForm="ngForm">
      <div class="form-group ">
        <label >Name</label>
        <input name="name" [(ngModel)]="bank.name" class="form-control" >


      </div>

      <div class="form-group">
        <label >Description </label>
        <input type="text" class="form-control" [(ngModel)]="bank.description" name="maxunitprice" placeholder="2">
      </div>
      <div class="form-group">
        <label >Interest Rate  </label>
        <input type="number" class="form-control" [(ngModel)]="bank.interestRate" name="nbRooms" placeholder="2">
      </div>
    <hr>
    <mat-dialog-actions align="end">
      <button mat-button mat-dialog-close>Cancel</button>
    <button type="submit" class="btn btn-primary" [mat-dialog-close]="true"  (click)="add()">Add</button>
    </mat-dialog-actions>
  </form>
</div>
