
  <div class="row mb-0" >
<div class="col bg-light">
  <h1 class="mt-2">SIMULATOR OF CREDIT </h1>
  <br>
  <form class="m-3"#unitForm="ngForm">
    <div class="form-row">
      <div class="form-group ">

        <label >amount</label>
        <input name="amount" type="text" [(ngModel)]="credit.amount"  value="{{credit.amount}}" class="form-control " />
        <input name="amount" type="range" [(ngModel)]="credit.amount"  min="1000" max="1000000" class="form-control" />
      </div>

    </div>



      <div class="form-group">
        <label >interestRate </label>
        <input name="interestRate" type="text" [(ngModel)]="credit.interestRate"  value="{{credit.interestRate}}" class="form-control " />
        <input type="range" class="form-control" [(ngModel)]="credit.interestRate" name="interestRate" placeholder="2">
      </div>
      <div class="form-group">
        <label >period </label>
        <input name="period" type="text" [(ngModel)]="credit.period"  value="{{credit.period}}" class="form-control " />
        <input type="range" class="form-control" [(ngModel)]="credit.period" name="period" placeholder="2">
      </div>

    <br>

    <button type="submit" class="btn btn-primary" (click)="simulate()">Add</button>
  </form>
</div>

  <div class="col  bg-info">
    <h1>RESULT</h1>
    <br>
    <table class="table">
      <tr>
      <td>Amount</td>
      <td>
        {{credit.amount}}
      </td>
      <tr>
      <td>interestRate</td>
      <td>
    {{credit.interestRate}}
      </td>
    </tr>
      <tr>
      <td>Perid</td>
      <td>
        {{credit.period}}
      </td>
      <tr>
      <td> Mounthy Payement </td>
      <td>
    {{resalt.monthlyPayment}}
      </td>
      </tr>

    </table>
  </div>
  </div>

